/*
 * ========================
 * HEADER 
 * ========================
 */
.header
	display: flex
	justify-content: flex-start
	align-items: center
	height: 98px
	padding: 0 30px
	background-color: $white
	
	&__switch
		margin-right: 73px
	
	&__menu
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $white
		overflow-y: auto
		z-index: 10

		// display: inline-flex
		// justify-content: space-between
		// align-items: flex-end
		// margin-left: auto
	
		opacity: 0
		visibility: hidden

		&--open
			opacity: 1
			visibility: visible

	
	&__phone
		margin-left: auto
		margin-right: 46px
		font-size: 18px
		font-weight: 300
		vertical-align: baseline
		@include trs()

		span 
			font-size: 24px
			font-weight: 700
			vertical-align: baseline

		&:hover
			color: $color-secondary

	&__authorization,
	&__cart,
	&__searche
		display: inline-flex
		align-items: center
		height: 100%
		padding: 0 35px
		border-left: 1px solid #E6E7E1
		@include trs()

		img:hover
			cursor: pointer
			filter: hue-rotate(100deg)
	
	&__authorization
	
	&__cart
		position: relative

		&-counter
			position: absolute
			bottom: 19px
			right: 33px
			display: flex
			justify-content: center
			align-items: center
			width: 24px
			height: 24px
			border-radius: 50%
			background-color: $color-secondary
			font-size: 18px
			color: $white


	
	&__searche
		padding-right: 0

	
	







