/*
 * ========================
 * PROMO
 * ========================
 */

.promo
	position: relative
	padding-top: 136px
	padding-bottom: 121px
	background: url('../img/promo-bg.png') no-repeat center / cover

	&__info
		max-width: 340px

		&-title
			margin-bottom: 120px
			font: 700 50px/59px $font-main
			color: $white

			span 
				color: $color-primary


	@include width-md
		padding: 100px 0

		&__info-title
			font-size: 36px
			line-height: 1.3
			margin-bottom: 80px


	@include width-sm
		padding: 80px 0

		&__info
			max-width: 250px
			
			&-title
				font-size: 30px
				margin-bottom: 50px




