/*
 * ========================
 * FOOTER 
 * ========================
 */
.footer 
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: flex-start
	padding-top: 40px
	padding-bottom: 40px
	border-top: 1px solid #E0E0E0
	margin: 65px 35px 0

	&__title
		margin-bottom: 18px
		font-size: 16px
		font-weight: 700
		text-transform: uppercase
		color: $black

	&__list

	&__item
		&:not(:last-child)
			margin-bottom: 10px

	&__link
		font-size: 14px
		font-weight: 300
		color: $black
		@include trs()

		&:hover
			color: $color-secondary

	&__mailing
		
		&-title
			margin-bottom: 25px
			font-size: 16px
			font-weight: 700
			color: #BDBDBD
		
		&-input
			margin-bottom: 17px
		
		&-btn
			padding: 0
			border: none
			margin: 0
			font-size: 18px
			font-weight: 300
			color: $color-secondary
			background-color: transparent

			&:hover
				cursor: pointer

